.header {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(3,172,14);
    width: 100%;
    padding-top: 10px;
}

.header h1, .header p {
    color: aliceblue;
}

.headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerLogo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.headerLogo h1{
    margin: 0 0 -20px 0;
}