.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
}

.registerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formRegister {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
    /* border: 1px solid rgb(220, 220, 220); */
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

.formRegisterContent {
    display: flex;
    justify-content: center;
}

.formRegister input {
    border: 0px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.formRegister button {
    border: none;
    width: 160px;
    background-color: #d9833b;
    color: white;
    padding: 5px;
}

.formRegister button:hover {
    cursor: pointer;
    background-color: green;
}