* {
    font-family: "Open Sans", Arial, sans-serif;
}

body{
    background-color: #efeff0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.container-wrapper {
    width: 750px;
    /* border: 1px solid black; */
}